<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <!--  https://www.youtube.com/watch?v=1srD3Mdvf50  -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1>Enter address to get weather</h1>
  <form id="form" action="/" method="post">
  	   <input name="address" type="text" placeholder="Enter address..." />
  	   <p><input type="submit" value="Send" formaction="/getweather"/>
       <input type="submit" value="Home" formaction="/gohome"/></p>
  </form>
</body>
</html>
