<!DOCTYPE html>
<html>
<body>
  <form id="form" action="/" method="post">
  	   <input name="address" type="text" placeholder="Enter address..." />
  	   <input type="submit" value="Send" />
  	</form>
</body>
</html>
